<!--HEADER-->
<%- include("partials/header.ejs") %>

<!--HOME PAGE-->


<!--Generate a new post-->
<div id="newPostContainer" class="container">
    <h1>Write your post here:</h1>
    <form action="/submit" method="POST">
        <input type="text" name="newPost" placeholder="Write your post here..." class="insertPost">
        <input type="submit" value="Add new post" class="button">
    </form>
</div>

<!--Post listing-->
<div id="postListing" class="container">
    <%if (locals.posts) {%>
        <ul>
            <%for (var i = 0; i < locals.posts.length; ++i) { %>
                <li>
                    <div class="singlePostContainer">
                        <% if (locals.editIndex == i ) { %>
                            <!--Edit post functionality | edit form-->
                            <form action="/update" method="POST">
                                <input type="hidden" name="index" value="<%= i %>">
                                <input type="text" id="editBox" name="updatedPost" value="<%= posts[i] %>">
                                <div class="testingButtonContainer">
                                    <button type="submit" class="buttonEdit">Update</button>
                                    <button type="button" class="buttonEdit" onclick="window.location.href='/'">Cancel</button>
                                </div>
                                
                                <!--Voidaanko laittaa tähän kohtaan editIndex=null??-->
                            </form>
                        <% } else { %>
                            <h2><%= posts[i] %></h2>
                            <div id="buttonContainer">
                                <!--Delete post-->
                                <form method="POST" action="/delete">
                                    <input type="hidden" name="delete" value="<%= i %>">
                                    <button type="submit" class="iconButton"><i class="material-icons">delete</i></button>
                                </form>
                                <!--Edit post-->
                                <form method="POST" action="/edit">
                                    <input type="hidden" name="edit" value="<%= i %>">
                                    <button type="submit" class="iconButton"><i class="material-icons">edit</i></button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </li>
            <%}%>
        </ul>

    <%} else {%>
        <h2>Nothing to show</h2>
    <%}%>

</div>


<!--FOOTER-->
<%- include("partials/footer.ejs") %>